/.htaccess
/.env
/.env.*
!/.env.example

/vendor/
/composer.lock
/node_modules/
/public/build/
/public/hot
/public/storage

/storage/*.key

/.phpunit.result.cache
/.phpunit.cache/
/.php-cs-fixer.cache
/phpstan-baseline.neon

/composer.phar

*.log
*.swp
*.swo
*~

/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
